<a href="https://colab.research.google.com/github/NikolayKartaev/PYTHON/blob/main/Homework_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import seaborn as sns
import google.colab as files

# **Задача 1.** Найдите, какая область центрального федерального округа имела наибольшую численность студентов вечерней формы обучения в 2015 году.

In [16]:
data = pd.read_csv('Homework_data.csv', sep = ";", encoding = 'cp1251')

In [17]:
data.head(25)

,Субъект РФ,"Численность студентов, всего человек, 2015","Численность студентов, очная форма, человек, 2015","Численность студентов очно-заочная (вечерняя) форма, человек, 2015","Численность студентов заочная форма, человек, 2015","Численность студентов, всего человек, 2017","Численность студентов, очная форма, человек, 2017","Численность студентов очно-заочная (вечерняя) форма, человек, 2017","Численность студентов заочная форма, человек, 2017","Численность студентов, всего человек, 2018","Численность студентов, очная форма, человек, 2018","Численность студентов очно-заочная (вечерняя) форма, человек, 2018","Численность студентов заочная форма, человек, 2018","Численность студентов, всего человек, 2019","Численность студентов, очная форма, человек, 2019","Численность студентов очно-заочная (вечерняя) форма, человек, 2019","Численность студентов заочная форма, человек, 2019",Unnamed: 17,Unnamed: 18
0,Российская Федерация,4766479,2379588,149102,2237789,4245885,2380454,135014,1730417,4161672,2369787,155588,1636297,4068327,2386578,181477,1500272,NaN,NaN
1,Центральный федеральный округ,1455273,730933,72132,652208,1303941,744398,62833,496710,1286588,747407,69939,469242,1268510,766368,79526,422616,NaN,NaN
2,Белгородская область,53050,24803,290,27957,49007,23192,387,25428,47734,22192,576,24966,46787,23530,687,22570,NaN,NaN
3,Брянская область,34540,12894,624,21022,27046,11910,970,14166,25340,11180,1152,13008,23737,10903,1193,11641,NaN,NaN
4,Владимирская область,33461,13365,217,19879,27215,12358,292,14565,27577,11762,1395,14420,26397,11272,1901,13224,NaN,NaN
5,Воронежская область,91775,46986,2124,42665,87030,47606,946,38478,85977,47595,944,37438,85071,48514,1202,35355,NaN,NaN
6,Ивановская область,31327,17166,188,13973,26405,15520,396,10489,25419,15190,748,9481,24656,14950,1114,8592,NaN,NaN
7,Калужская область,22033,10404,303,11326,18604,10419,269,7916,18690,10466,589,7635,18588,10468,784,7336,NaN,NaN
8,Костромская область,13597,6189,466,6942,10834,5723,442,4669,10647,5520,463,4664,10247,5534,473,4240,NaN,NaN
9,Курская область,54632,20190,218,34224,41056,19985,372,20699,37979,19240,527,18212,36373,18846,579,16948,NaN,NaN
10,Липецкая область,24933,10920,1378,12635,21715,10153,1548,10014,21165,10076,2025,9064,20204,10188,2525,7491,NaN,NaN
11,Московская область,111985,39773,4095,68117,77100,35361,2439,39300,81750,36823,3179,41748,80972,38075,3979,38918,NaN,NaN
12,Орловская область,31943,15376,1534,15033,30949,14724,1913,14312,30340,14963,1749,13628,28551,14635,1572,12344,NaN,NaN
13,Рязанская область,35552,16862,738,17952,32684,17552,980,14152,30656,17441,979,12236,29778,17117,1083,11578,NaN,NaN
14,Смоленская область,26205,12708,488,13009,21745,12602,740,8403,21511,12416,615,8480,21672,12752,822,8098,NaN,NaN
15,Тамбовская область,29182,14142,430,14610,28554,14437,743,13374,27822,13913,873,13036,27890,13996,1010,12884,NaN,NaN
16,Тверская область,29192,14365,45,14782,25049,14397,53,10599,24462,14193,92,10177,23578,14371,179,9028,NaN,NaN
17,Тульская область,34968,15273,590,19105,32539,15885,812,15842,33043,15769,1448,15826,33520,16070,2030,15420,NaN,NaN
18,Ярославская область,37187,18197,695,18295,31256,18259,703,12294,30395,18195,760,11440,30646,18355,907,11384,NaN,NaN
19,г.Москва,759711,421320,57709,280682,715153,444315,48828,222010,706081,450473,51825,203783,699843,466792,57486,175565,NaN,NaN
20,Северо-Западный федеральный округ,464645,266108,18067,180470,420531,274309,13557,132665,418528,279034,13171,126323,418905,285175,13812,119918,NaN,NaN
21,Республика Карелия,14311,7649,0,6662,11636,7608,9,4019,11539,7877,50,3612,10928,7747,119,3062,NaN,NaN
22,Республика Коми,20515,9072,271,11172,16359,8470,557,7332,15622,7750,633,7239,14646,7357,566,6723,NaN,NaN
23,Архангельская область,22691,10678,292,11721,18944,11555,239,7150,18590,11580,346,6664,17720,11656,434,5630,NaN,NaN
24,Вологодская область,24323,10727,457,13139,19108,9677,273,9158,18606,9181,455,8970,18358,9221,460,8677,NaN,NaN

In [18]:
data.shape

(94, 19)

In [19]:
newdata = data.iloc[2:19,:]
newdata

,Субъект РФ,"Численность студентов, всего человек, 2015","Численность студентов, очная форма, человек, 2015","Численность студентов очно-заочная (вечерняя) форма, человек, 2015","Численность студентов заочная форма, человек, 2015","Численность студентов, всего человек, 2017","Численность студентов, очная форма, человек, 2017","Численность студентов очно-заочная (вечерняя) форма, человек, 2017","Численность студентов заочная форма, человек, 2017","Численность студентов, всего человек, 2018","Численность студентов, очная форма, человек, 2018","Численность студентов очно-заочная (вечерняя) форма, человек, 2018","Численность студентов заочная форма, человек, 2018","Численность студентов, всего человек, 2019","Численность студентов, очная форма, человек, 2019","Численность студентов очно-заочная (вечерняя) форма, человек, 2019","Численность студентов заочная форма, человек, 2019",Unnamed: 17,Unnamed: 18
2,Белгородская область,53050,24803,290,27957,49007,23192,387,25428,47734,22192,576,24966,46787,23530,687,22570,NaN,NaN
3,Брянская область,34540,12894,624,21022,27046,11910,970,14166,25340,11180,1152,13008,23737,10903,1193,11641,NaN,NaN
4,Владимирская область,33461,13365,217,19879,27215,12358,292,14565,27577,11762,1395,14420,26397,11272,1901,13224,NaN,NaN
5,Воронежская область,91775,46986,2124,42665,87030,47606,946,38478,85977,47595,944,37438,85071,48514,1202,35355,NaN,NaN
6,Ивановская область,31327,17166,188,13973,26405,15520,396,10489,25419,15190,748,9481,24656,14950,1114,8592,NaN,NaN
7,Калужская область,22033,10404,303,11326,18604,10419,269,7916,18690,10466,589,7635,18588,10468,784,7336,NaN,NaN
8,Костромская область,13597,6189,466,6942,10834,5723,442,4669,10647,5520,463,4664,10247,5534,473,4240,NaN,NaN
9,Курская область,54632,20190,218,34224,41056,19985,372,20699,37979,19240,527,18212,36373,18846,579,16948,NaN,NaN
10,Липецкая область,24933,10920,1378,12635,21715,10153,1548,10014,21165,10076,2025,9064,20204,10188,2525,7491,NaN,NaN
11,Московская область,111985,39773,4095,68117,77100,35361,2439,39300,81750,36823,3179,41748,80972,38075,3979,38918,NaN,NaN
12,Орловская область,31943,15376,1534,15033,30949,14724,1913,14312,30340,14963,1749,13628,28551,14635,1572,12344,NaN,NaN
13,Рязанская область,35552,16862,738,17952,32684,17552,980,14152,30656,17441,979,12236,29778,17117,1083,11578,NaN,NaN
14,Смоленская область,26205,12708,488,13009,21745,12602,740,8403,21511,12416,615,8480,21672,12752,822,8098,NaN,NaN
15,Тамбовская область,29182,14142,430,14610,28554,14437,743,13374,27822,13913,873,13036,27890,13996,1010,12884,NaN,NaN
16,Тверская область,29192,14365,45,14782,25049,14397,53,10599,24462,14193,92,10177,23578,14371,179,9028,NaN,NaN
17,Тульская область,34968,15273,590,19105,32539,15885,812,15842,33043,15769,1448,15826,33520,16070,2030,15420,NaN,NaN
18,Ярославская область,37187,18197,695,18295,31256,18259,703,12294,30395,18195,760,11440,30646,18355,907,11384,NaN,NaN

In [21]:
newdata = newdata[['Субъект РФ', 'Численность студентов очно-заочная (вечерняя) форма, человек, 2015']][newdata['Численность студентов очно-заочная (вечерняя) форма, человек, 2015'] == max(newdata['Численность студентов очно-заочная (вечерняя) форма, человек, 2015'])]


newdata

,Субъект РФ,"Численность студентов очно-заочная (вечерняя) форма, человек, 2015"
11,Московская область,4095