<a href="https://colab.research.google.com/github/NikolayKartaev/PYTHON/blob/main/Seminar10_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas as pd

In [146]:
import random

In [147]:
lst = ['robot'] * 10

In [148]:
lst += ['human'] * 10

In [ ]:
random.shuffle(lst)

In [ ]:
data = pd.DataFrame({'whoAmI':lst})

In [151]:
pd.get_dummies(data['whoAmI']) #для проверки

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      0      1
16      0      1
17      1      0
18      0      1
19      0      1

In [ ]:
datanew=data

In [ ]:
nature = data['whoAmI'].unique()
for element in nature:
    datanew[element] = 0

In [ ]:
for i, j in enumerate(datanew['whoAmI']):
    datanew.at[i, j] = 1

In [155]:
datanew.drop('whoAmI', axis=1, inplace=True) # вариант без использования get_dummies()
datanew

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      0      1
16      0      1
17      1      0
18      0      1
19      0      1