<a href="https://colab.research.google.com/github/NikolayKartaev/PYTHON/blob/main/Seminar10_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas as pd

In [146]:
import random

In [147]:
lst = ['robot'] * 10

In [148]:
lst += ['human'] * 10

In [149]:
random.shuffle(lst)
lst

['human',
 'human',
 'robot',
 'human',
 'human',
 'human',
 'human',
 'human',
 'human',
 'robot',
 'robot',
 'robot',
 'robot',
 'robot',
 'human',
 'robot',
 'robot',
 'human',
 'robot',
 'robot']

In [150]:
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   human
2   robot
3   human
4   human
5   human
6   human
7   human
8   human
9   robot
10  robot
11  robot
12  robot
13  robot
14  human
15  robot
16  robot
17  human
18  robot
19  robot

In [151]:
pd.get_dummies(data['whoAmI']) #для проверки

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      0      1
16      0      1
17      1      0
18      0      1
19      0      1

In [152]:
datanew=data
datanew

   whoAmI
0   human
1   human
2   robot
3   human
4   human
5   human
6   human
7   human
8   human
9   robot
10  robot
11  robot
12  robot
13  robot
14  human
15  robot
16  robot
17  human
18  robot
19  robot

In [153]:
nature = data['whoAmI'].unique()
for element in nature:
    datanew[element] = 0
datanew

   whoAmI  human  robot
0   human      0      0
1   human      0      0
2   robot      0      0
3   human      0      0
4   human      0      0
5   human      0      0
6   human      0      0
7   human      0      0
8   human      0      0
9   robot      0      0
10  robot      0      0
11  robot      0      0
12  robot      0      0
13  robot      0      0
14  human      0      0
15  robot      0      0
16  robot      0      0
17  human      0      0
18  robot      0      0
19  robot      0      0

In [154]:
for i, j in enumerate(datanew['whoAmI']):
    datanew.at[i, j] = 1
datanew

   whoAmI  human  robot
0   human      1      0
1   human      1      0
2   robot      0      1
3   human      1      0
4   human      1      0
5   human      1      0
6   human      1      0
7   human      1      0
8   human      1      0
9   robot      0      1
10  robot      0      1
11  robot      0      1
12  robot      0      1
13  robot      0      1
14  human      1      0
15  robot      0      1
16  robot      0      1
17  human      1      0
18  robot      0      1
19  robot      0      1

In [155]:
datanew.drop('whoAmI', axis=1, inplace=True) # вариант без использования get_dummies()
datanew

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      0      1
13      0      1
14      1      0
15      0      1
16      0      1
17      1      0
18      0      1
19      0      1